<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJTRZQF');</script>
<!-- End Google Tag Manager -->

<% provide(:title, "Home") %>
<div class= "center jumbotron">
  <h1>Agile in Action</h1>
  </br>
  <h5>How are we going to describe this?</h5>
</br>
</br>
</div>

<style>
  h4{
color:#1164fc;
font-weight:bold;

   }
p{
  color:#707070;
  font-style:italic;
}
  </style>



<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="primary-panel-body">
          <!--<a href = "static_pages/core">-->
            <div class="grid-image-container">
            </br>
              <h4>Learning with Customers</h4></a>
              </br>
              </br>
              <p>DESCRIBE THIS</p>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="primary-panel-body">
          <!--<a href = "static_pages/ws_approach">-->
            <div class= "grid-image-container">

            </br>
              <h4>Business Challehge WS</h4></a>
            </br>
            </br>
            <p>DESCRIBE THIS</p>
            </div>
        </div>
      </div>
    </div>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="primary-panel-body">
        <!--<a href= "static_pages/resources">-->
          <div class="grid-image-container">

          </br>
            <h4>Ways of Working</h4> </a>
          </br>
          </br>
          <p>DESCRIBE THIS</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="primary-panel-body">
        <!--  <a href="https://sloanreview.mit.edu/article/making-it-easier-to-manage-and-scale-digital-projects/", target = "_blank">-->
            <div class="grid-image-container">

              </br>
          <h4>How to Work in Squads</h4>
        </br>
        </br>
        <p>DESCRIBE THIS</p>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>
