<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJTRZQF');</script>
<!-- End Google Tag Manager -->

<% provide(:title, "What is rVR?") %>
<style>
  h1{
    padding-top:20px;
    font-family: helvetica;
    font-weight: bold;
    color: #1164fc;
   }
  </style>
<h1>What is rVR?</h1>
<%= image_tag("What/core.png", :id=> "core", :class=>"img-fluid", :width=> "100%", :align=>"center") %>

<br> <br><br><br><br>

<%= image_tag("What/What is Agile.png", :id=> "agile", :class=>"img-fluid", :width=>"100%", :align=>"center") %>

<br> <br><br><br><br>

<%= image_tag("What/Skills Framework.png", :id=> "skills", :class=>"img-fluid",:width=>"100%", :align=>"center") %>

<br> <br><br><br><br>

<%= image_tag("What/Product Roadmap Execution.png", :id=> "product", :class=>"img-fluid", :width=>"100%", :align=>"center") %>
