<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJTRZQF');</script>
<!-- End Google Tag Manager -->

<% provide(:title, "Agile Simulation") %>
<style>
h1{
  padding-top:20px;
  font-family: helvetica;
  font-weight: bold;
  color: #1164fc;
  
 }
 h3{
   font-family: helvetica;
   font-weight: bold;
   color: #f95c16;
  }
  li{
    line-height:3.5rem;
   }
</style>
<h1>Agile Simulation</h1>
<p> Below you can find an outline for how to run the Agile Simulation.
  Click on the plays to learn more about them, and click on the outline to bring
   up a PowerPoint deck with more information </p>

   <ul style = "list-style:none", align = "left">

     <li><h3>Plays Run: </h3></li>
     <h4><li><a href = "/plays/empathyMap", target = "_blank"> Empathy Map </a></li>
     <li><a href = "/plays/howMightWe", target = "_blank"> How Might We </a></li>
     <li><a href = "/plays/productRoadmap", target = "_blank"> Product Roadmap </a></li>
     <li><a href = "/plays/hypothesisTemplate", target = "_blank"> Hypothesis </a></li>
     <li><a href = "/plays/experimentArtGallery", target = "_blank"> Experiment Art Gallery </a></li>
     <li><a href = "/plays/crazy8", target = "_blank"> Crazy 8's </a></li></h4>
   </ul>
   <br><br>
   <p align = "center"><h4>For the resources needed for the simulation, please visit the <a href = "/static_pages/resources", target = "_blank"> Engagement Toolkit</h4></p>

<a href = "https://jnj.sharepoint.com/:p:/r/teams/rapidValueRealization2/Shared%20Documents/Toolkits/Lego%20Training/Agile%20Simulation/Agile%20Simulation%20Toolkit.pptx?d=wc83e0563724e480985ec6cd68cb73514&csf=1&e=IrVbKR&nav=eyJzSWQiOjQyNSwiY0lkIjoyNDAxNzE1ODA0fQ", target = "_blank">
  <%= image_tag("Simulation/simulation.png", :id=> "core", :class=> "img-fluid", :width=> "105%",  :align=>"center") %>
</a>
