<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJTRZQF');</script>
<!-- End Google Tag Manager -->

<% provide(:title, "Toolkit") %>

<style>
  h1{
    padding-top:20px;
    font-family: helvetica;
    font-weight: bold;
    color: #1164fc;
    
}
h3 {
  color: #f95c16;
  text-align: left;
  font-family: helvetica;
padding-bottom: 10px;
}


</style>


  <h1>Engagement Toolkit</h1>
</br>
  <p>The links below will link you to templates needed to run your engagement. Please download these locally before making any changes.</p>
</br>

<!--<div class="row">
    <div class="col-md-12">
      <h3>Overall</h3>
    <h4><a href="https://jnj.sharepoint.com/:p:/t/rapidValueRealization2/EWyg9XKVt69BleIBzBe0QWoB0NHOH9er-xT34vCEHpvs5g?e=x6mOR1">Producer Deck:</a></h4>
    <p> This deck outlines the roles & responsibilities of a rapidValue Producer </p>
    <h4><a href="https://jnj.sharepoint.com/:b:/t/rapidValueRealization2/ESmiNFpmYu5OivQtebvAL9MB8uxWAhn8k8ziJlBnqWQXaA?e=QvmPk3">What is Agile Poster:</a></h4>
    <p> This poster defines core principles of Agile </p>
    <h4><a href="https://jnj.sharepoint.com/:w:/t/rapidValueRealization2/EZyBU_5-QmVPslLX7TVKGdgB7Laa00hIgQB0lks_kdlK-g?e=2Ddn5K">What Good Looks Like:</a></h4>
    <p> This document shows examples of our most popular plays from past workshops</p>
    <h4><a href="https://jnj.sharepoint.com/:b:/t/rapidValueRealization2/Ech-vKEAaKtDkCFlaBe5oTcBoTdU86D9AwXzoqdJxSkqhA?e=mo2VkJ">Empathy Canvas Poster:</a></h4>
    <p> This canvas is used to document your customers' and stakeholders' Goals, Pains, Gains, and Work-arounds </p>
</div>
</div>-->

<div class="row">
    <div class="col-md-12">
      <h3>Overall</h3>
    <h4><a href="https://jnj.sharepoint.com/:p:/t/rapidValueRealization2/EWyg9XKVt69BleIBzBe0QWoB0NHOH9er-xT34vCEHpvs5g?e=x6mOR1", target = "_blank">Producer Deck:</a></h4>
    <p> This deck outlines the roles & responsibilities of a rapidValue Producer </p>
    <h4><a href="https://jnj.sharepoint.com/:b:/t/rapidValueRealization2/ESmiNFpmYu5OivQtebvAL9MB8uxWAhn8k8ziJlBnqWQXaA?e=QvmPk3", target = "_blank">What is Agile Poster:</a></h4>
    <p> This poster defines core principles of Agile </p>
    <h4><a href="https://jnj.sharepoint.com/:w:/t/rapidValueRealization2/EZyBU_5-QmVPslLX7TVKGdgB7Laa00hIgQB0lks_kdlK-g?e=2Ddn5K", target = "_blank">What Good Looks Like:</a></h4>
    <p> This document shows examples of our most popular plays from past workshops</p>
    <h4><a href="https://jnj.sharepoint.com/:b:/t/rapidValueRealization2/Ech-vKEAaKtDkCFlaBe5oTcBoTdU86D9AwXzoqdJxSkqhA?e=mo2VkJ", target = "_blank">Empathy Canvas Poster:</a></h4>
    <p> This canvas is used to document your customers' and stakeholders' Goals, Pains, Gains, and Work-arounds </p>

</div>
</div>


</br>
</br>


<div class="row">
  <div class="col-md-6">
    <h3>Workshop Engagement Materials</h3>
    <h4><a href="https://jnj.sharepoint.com/:w:/t/rapidValueRealization2/EW5YALiPuLhFjwBnsIwS-7YBLpc3zo3o9Iq91YCPRb85dw?e=DUxTes", target = "_blank">Discovery Workshop Brief:</a></h4>
    <p> This document is used to achieve alignment on the workshop goal and purpose </p>
    <h4><a href="https://jnj.sharepoint.com/:p:/t/rapidValueRealization2/ER7BTpn5lwtGmgJ0-Kcol7sBfG4dJzwGBQ3mu0BLUb_YIg?e=vP1R75", target = "_blank">Workshop Readiness Deck Template:</a></h4>
    <p> This template summarizes the workshop approach, logistics, and goals </p>
    <h4>See Producer deck for conclusive list of needs & expectations for workshops</h4>
  </div>

  <div class="col-md-6">
    <h3>Simulation Engagement Materials</h3>
    <h4><a href="https://jnj.sharepoint.com/:p:/t/rapidValueRealization2/Eabm_TqD7t1Hl7psTtxw1ZsB6pZW3UnRKARjmz9W7OXmOg?e=JPwrIp", target = "_blank">Simulation Pre-Read:</a></h4>
    <p> This deck shows the materials participants should read prior to an agile simulation</p>
    <h4><a href="https://jnj.sharepoint.com/:p:/t/rapidValueRealization2/EWMFPshOcglIhexs1oy3NRQBJc6br0S8uWwU8Yz7KuVT0g?e=SQsjOy", target = "_blank">Simulation Toolkit:</a></h4>
    <p> This deck presents the agenda and instructions for the agile simulation  </p>
    <h4><a href="https://jnj.sharepoint.com/:x:/t/rapidValueRealization2/EUNSnVt10WtHr1DMu9sXgzcBuKHFzBQb4iRVcP43N4HamQ?e=ngHP3r", target = "_blank">Material & Print Needs:</a></h4>
    <p> This resource lists the materials that need to be printed prior to a simulation </p>
    <h4><a href="https://jnj.sharepoint.com/:f:/t/rapidValueRealization2/EukUw1ktALRFhA25e6FvfnQBETfOwZk_vckjfhrnT1iG_w?e=cD99Xu", target = "_blank">Resident (including CEO) Prep Kits (Role card, empathy cheat sheet, script guidance):</a></h4>
    <p> This folder contains an overview of the agile simulation roles that the participants playing the roles should review in advance of the simulation </p>
    <h4><a href="https://jnj.sharepoint.com/:b:/t/rapidValueRealization2/ER3RoF5wGVdClgwSaPgl8hIB1kMOwPY_IHazxnksJvjhVA?e=CYU3ki", target = "_blank">Money:</a></h4>
    <p> This link contains the agile simulation money you can print for your simulation </p>
    <h4><a href="https://jnj.sharepoint.com/:p:/t/rapidValueRealization2/ES9roxsAPtNAiXK9OYkdYVEBEK0bqkCSeiorIkTr5to6OQ?e=KWYxyt", target = "_blank">Trainee Workbook:</a></h4>
    <p> This workbook contains useful agile lessons for your simulation so we recommend printing copies for the participants </p>
    <h4><a href="https://jnj.sharepoint.com/:b:/t/rapidValueRealization2/EVPaJC-3JsFGiHRN7q2sWPIB61ntQq_nbj4M-gO_sFrURA?e=1t1tU0", target = "_blank">Product Roadmap Execution Cycle & Skills Framework:</a></h4>
    <p> This document shows how the Product Roadmap fits into the agile execution cycle and the plays and actions that support core agile principles</p>
    <h4>See Producer deck for conclusive list of needs & expectations for simulations</h4>
  </div>
</div>


<!--<h1>Engagement Toolkit</h1>
<p>The links below will link you to templates needed to run your engagement.
   Please download these locally before making any changes.</p>
<ul>
  <li> <a href="https://jnj.sharepoint.com/:w:/r/teams/rapidValueRealization2/_layouts/15/Doc.aspx?sourcedoc=%7B5F1C9835-758F-412A-8C2F-A52FEAA406F1%7D&file=Template%20-%20Workshop%20Brief%20Template_v6.1_BETA.docx&action=default&mobileredirect=true" target="_blank"> Workshop Brief </a> </li>
  <li> <a href="https://jnj.sharepoint.com/:p:/r/teams/rapidValueRealization2/_layouts/15/Doc.aspx?sourcedoc=%7B994ec11e-97f9-460b-9a02-74f8a72897bb%7D&action=edit&uid=%7B994EC11E-97F9-460B-9A02-74F8A72897BB%7D&ListItemId=17571&ListId=%7B97EFE728-B04A-4196-83C4-DF8BEB62458A%7D&odsp=1&env=prod" target="_blank"> Kickoff Deck </a> </li>
  <li> <a href="https://miro.medium.com/max/1838/1*I1ffOWdPWQva3dCMQE-TAQ.png" target="_blank"> Empathy Map Canvas </a></li>
  <li> <a href="https://jnj.sharepoint.com/teams/rapidValueRealization2/Shared%20Documents/Forms/AllItems.aspx?q=learning%20plan&id=%2Fteams%2FrapidValueRealization2%2FShared%20Documents%2FToolkits%2FLego%20Training%2FCustomer%20Value%20Lego%20Training%2FLearning%20Plan%20Canvas%5Fv2%2Epdf&parent=%2Fteams%2FrapidValueRealization2%2FShared%20Documents&parentview=7" target="_blank"> Learning Plan Canvas </a> </li>
  <li> <a href="https://jnj.sharepoint.com/teams/rapidValueRealization2/Shared%20Documents/Forms/AllItems.aspx?q=experiment%20card&id=%2Fteams%2FrapidValueRealization2%2FShared%20Documents%2FToolkits%2FLego%20Training%2FCustomer%20Value%20Lego%20Training%2FExperiment%20Card%20w%20Descriptions%2Epdf&parent=%2Fteams%2FrapidValueRealization2%2FShared%20Documents&parentview=7" target=_blank"> Experiment Card </a> </li>
</ul>-->
