<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJTRZQF');</script>
<!-- End Google Tag Manager -->

<h1> Workshop Approach </h1>


<% provide(:title, "Workshop Approach") %>
<%= image_tag("WS Approach/ws_matrix.png", :id=> "core", :class=> "img-fluid",:width=>"100%", :align=>"center") %>

<style>

  h1{
    padding-top:20px;
    font-family: helvetica;
    font-weight: bold;
    color: #1164fc;
  
   }

  table, td, {
    border: 1px solid #ddd;
    text-align: left;
  }


  table {
    border-collapse: collapse;
    width: 100%;
  }

  th{
    background-color: #1164FC;
    color: white;
    text-align: center;
    border-right: 4px solid #fff;

  }

  td {
    padding: 10px;
    text-align:left;
    border-bottom: 1px solid #ddd;
  }
  </style>


<table align = "center">
<tr>
  <th> Quadrants 1-3 </th>
  <th> Quadrants 1 & 2 </th>
  <th> Quadrants 1 & 4 </th>
<tr>
  <th>Basic Pattern</th>
  <th>Discovery Pattern</th>
  <th>Strategy Pattern</th>
</tr>
<tr>
  <td><a href = "/plays/contextualInquiry", target = "_blank"> Contextual Inquiry</a></td>
  <td><a href = "/plays/contextualInquiry", target = "_blank"> Contextual Inquiry</a></td>
  <td> Press Release </td>
</tr>

<tr>
  <td><a href = "/plays/goal", target = "_blank"> Goal Ad-Lib </a></td>
  <td> Customer Stakeholder Map </td>
  <td><a href = "/plays/howMightWe", target = "_blank"> How Might We </a></td>
</tr>

<tr>
  <td><a href = "/plays/empathyMap", target = "_blank"> Empathy Unmet Needs</a></td>
  <td><a href = "/plays/empathyMap", target = "_blank"> Empathy Unmet Needs</a></td>
  <td><a href = "/plays/empathyMap", target = "_blank"> Empathy Unmet Needs</a></td>
</tr>
<tr>
  <td><a href = "/plays/howMightWe", target = "_blank"> How Might We </a></td>
  <td><a href = "/plays/howMightWe", target = "_blank"> How Might We </a></td>
  <td><a href = "/plays/productRoadmap", target = "_blank"> Product Road Map </a></td>
</tr>

<tr>
  <td><a href = "/plays/productRoadmap", target = "_blank"> Product Road Map </a></td>
  <td><a href = "/plays/crazy8", target = "_blank"> Crazy 8's </a></td>
  <td><a href = "/plays/crazy8", target = "_blank"> Crazy 8's </a></td>
</tr>

<tr>
  <td><a href = "/plays/crazy8", target = "_blank"> Crazy 8's </a></td>
  <td><a href = "/plays/solutionArtGallery", target = "blank"> Solution Art Gallery </a></td>
  <td> Value Exchange Mapping </td>
</tr>
<tr>
  <td><a href = "/plays/hypothesisTemplate", target = "_blank"> Hypothesis </a></td>
  <td> Customer Journey </td>
  <td><a href = "/plays/hypothesisTemplate", target = "_blank"> Hypothesis </a></td>
</tr>

<tr>
  <td><a href = "/plays/experimentArtGallery", target = "_blank"> Experiment Art Gallery </a></td>
  <td><a href = "/plays/hypothesisTemplate", target = "_blank"> Hypothesis </a></td>
  <td><a href = "/plays/experimentArtGallery", target = "_blank"> Experiment Art Gallery </a></td>
</tr>

<tr>
  <td><a href = "/plays/kanban", target = "_blank"> KanBan </a></td>
  <td><a href = "/plays/experimentArtGallery", target = "_blank"> Experiment Art Gallery </a></td>
  <td><a href = "/plays/kanban", target = "_blank"> KanBan </a></td>
</tr>

<tr>
  <td></td>
  <td><a href = "/plays/kanban", target = "_blank"> KanBan </a></td>
  <td></td>
</tr>

</table>

<br>
<br>
<p> For the resources needed for the workshop, please visit the <a href = "/static_pages/resources", target = "_blank"> Engagement Toolkit </a></p>
