
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJTRZQF');</script>
<!-- End Google Tag Manager -->
<% provide(:title, "Contextual Inquiry") %>
  <%= stylesheet_link_tag    'playPage', media: 'all', 'data-turbolinks-track': 'reload' %>
<h1> Contextual Inquiry </h1>

  <div class="row">
    <div class="col-md-12">
    <h2>Overview:</h2>
     <p> Contextual inquiry is one of the most popular methods in user experience and product research. Contextual inquiry is a method that requires the researcher to observe a customer interacting in his or her normal context with a product.
       This method is ideal for understanding how a product is actually being used in real life because it does not rely on self-reported information. The strength of your data and findings is improved when you can
     observe people's actual behaviors, versus what they report in hindsight. This method is especially helpful when you are first exploring your problem because it is an efficient and low-cost way to identify customers’ pain points, gains, and work-arounds.  </p>
      </div>
  </div>

<br></br>

    <div class="row">
      <div class="col-md-2">
    </div>

      <div class="col-md-8">
      <div class ="video-responsive">
        <iframe width="992" height="558" src="https://www.youtube.com/embed/MHOv8qktJe4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>


      <div class="col-md-2">
    </div>
  </div>

<br> </br>

  <div class="row">
    <div class="col-md-6">
       <!--<div class="Materials"></div>-->
       <h2>Materials:</h2>
       <ul>
         <li>Consider using a video or audio recorder.</li>
         <li>A device to record notes.</li>
         <li>An assistant to help take notes.</li>
    </div>
    <div class="col-md-6">
       <!--<div class="Set-up"></div>-->
      <h2>Set Up:</h2>
      <ol>
        <li>Identify customers</li>
        <li>Schedule visits</li>
        </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
     <!--<div class="Instructions"></div>-->
     <h2>Intructions:</h2>
     <ol>
       <li>Conduct onsight visits and record observations </li>
       <li>Analyze results for themes</li>
     </ol>
   </div>
 </div>
