
<!--below is the .css to refrence the playpage-->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJTRZQF');</script>
<!-- End Google Tag Manager -->

<% provide(:title, "Crazy 8's") %>
<%= stylesheet_link_tag    'playPage', media: 'all', 'data-turbolinks-track': 'reload' %>
<h1> Crazy 8's </h1>

  <div class="row">
    <div class="col-md-12">
    <h2>Overview:</h2>
     <p> The purpose of this exercise is designed to allow the participants to ideate various solutions that can be implemented to fulfill a customer’s unmet needs. The participants will be quickly jotting down ideas that will help alleviate the pains identified in the Customer Empathy Map and fulfill the unmet needs identified in the How Might We exercise.</p>
      </div>
  </div>

<br></br>

    <div class="row">
      <div class="col-md-2">
    </div>

      <div class="col-md-8">
      <div class ="video-responsive">
        <iframe width="992" height="558" src="https://www.youtube.com/embed/RFdDwKV_18o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <div class="col-md-2">
  </div>
  </div>

  <br></br>

  <div class="row">
    <div class="col-md-6">
       <!--<div class="Materials"></div>-->
       <h2>Materials:</h2>
       <ul>
         <li>A3 (11X17) paper</li>
         <li>Permanent markers</li>
         <li>Timer</li>
           </ul>
    </div>
    <div class="col-md-6">
       <!--<div class="Set-up"></div>-->
      <h2>Set Up:</h2>
      <ol>
     <li>Fold your paper into 8 squares</li>
   </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
     <!--<div class="Instructions"></div>-->
     <h2>Intructions:</h2>
     <ol>
     <li>Sketch and label 8 variations of a solution that can be used to alleviate the customer’s pains and help achieve the customer’s goals in 15 minutes</li>
     <li>After 15 minutes have passed, give each team member about 5 minutes to present all of their ideas</li>
     </ol>
   </div>
 </div>

 <div class="row">
   <div class="col-md-12">
    <!--<div class="Pro tips"></div>-->
    <h2> Pro-tips:</h2>
    <ul>
      <li> Number the How Might We’s that received the most votes and instruct the participants to label each Crazy 8 panel with the How Might We it is solving for</li>
      </ul>
 </div>
</div>

<div class="row">
  <div class="col-md-12">
   <!--<div class="Pro tips"></div>-->
   <h2> Example:</h2>
<ul>
  <li><%= image_tag("Plays/goodC8.png", :class=>"img-fluid", :width=>"100%", :align=>"center") %></li>
</ul>
</div>
</div>
