
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJTRZQF');</script>
<!-- End Google Tag Manager -->
<% provide(:title, "Empathy Map") %>
<%= stylesheet_link_tag    'playPage', media: 'all', 'data-turbolinks-track': 'reload' %>
<h1> Empathy Map </h1>
  <div class="row">
    <div class="col-md-12">
    <h2>Overview:</h2>
     <p> This exercise is intended to better understand our customer.  We want to use this exercise in order to better understand their Pains, Gains, Workarounds and the Current State.</p>
      </div>
  </div>

<br></br>

  <div class="row">
    <div class="col-md-2">
  </div>

    <div class="col-md-8">
    <div class ="video-responsive">
      <iframe width="992" height="558" src="https://www.youtube.com/embed/ONsiO1UO4c8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  </div>

  <div class="col-md-2">
</div>
</div>

<br></br>

  <div class="row">
    <div class="col-md-6">
       <!--<div class="Materials"></div>-->
       <h2>Materials:</h2>
       <ul>
         <li><a href="https://jnj.sharepoint.com/:b:/t/rapidValueRealization2/Ech-vKEAaKtDkCFlaBe5oTcBoTdU86D9AwXzoqdJxSkqhA?e=mo2VkJ", target = "_blank">Empathy Map Canvas</a></li>
         <li>Masking tape</li>
         <li>Sticky notes</li>
        <ul>
     <li>3" x 3"</li>
     </ul>
     <li>Permanent markers</li>
   </ul>
      </ul>
    </div>
    <div class="col-md-6">
       <!--<div class="Set-up"></div>-->
      <h2>Set Up:</h2>
      <ol>
        <li>Print out and tape the Empathy Map Canvas to the wall</li>
        <li>Hand each participant a pad of Sticky notes and a Permanent marker</li>
        </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
     <!--<div class="Instructions"></div>-->
     <h2>Intructions:</h2>
     <ol>
       <li>Identify the customer you will be building this map for</li>
       <li>Go through each section of the Empathy Map Canvas looking to answer each question and using the sub-header questions if you get stuck</li>
       <li>Write your answers on individual sticky notes and then place them onto the map in the appropriate section</li>
     </ol>
   </div>
 </div>

 <div class="row">
   <div class="col-md-12">
    <!--<div class="Pro tips"></div>-->
    <h2> Pro-tips:</h2>
 <ul>
   <li>All questions lead to the most important section of the map, the Pains & Gains.</li>
   <li>On its own, this play will help to give you a better understanding of your customer's needs.  While alone this play is useful, you can pair this up with a How Might We to ensure we selected the right unmet needs or with a Crazy 8 to make sure our solutions are keeping our customer in mind.Before sticking the HMWs onto the brown paper, read it out loud so all team members are aware of what has been written already</li>
   </ul>
 </div>
</div>

<div class="row">
  <div class="col-md-12">
   <!--<div class="Pro tips"></div>-->
   <h2> Example:</h2>
<ul>
  <li><%= image_tag("Plays/goodEmpathy.png", :class=>"img-fluid",:width=>"100%", :align=>"center") %></li>
</ul>
</div>
</div>
