
<!--<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <style>
  h2 {
    color: #1164FC;
    text-align: left-align;
    font-family: helvetica;
    font-weight: bold;
    font-size:20px
  }

body{
  font-family: helvetica;
  font-size: 14px;
}
ol{
  line-height: 2;
}

</style>

</head>
<body>-->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJTRZQF');</script>
<!-- End Google Tag Manager -->

<% provide(:title, "Hypothesis Template") %>

<%= stylesheet_link_tag    'playPage', media: 'all', 'data-turbolinks-track': 'reload' %>

<h1> Hypothesis Statement </h1>

  <div class="row">
    <div class="col-md-12">
    <h2>Overview:</h2>
     <p>Our customers, their problems, our propsed solutions are all based in some amount of uncertainity. We put our own congnitive bias in everything we do and we need to ensure
      that we are aware of the assumptons we are making and can prove our disprove our assumptions. To do this, we will turn our assumptions into hypotheses to be validated. <br /><br />
        Remember, hpotheses can be in looked at in 3 different aspects.
        <ul>
        <li><b>Desirable</b> - wanted or wished for as being an attractive, useful, or necessary course of action. <br />Do our customers want us to build it</li>
        <li><b>Feasible </b>- possible to do easily or conveniently<br />Can we build it</li>
        <li><b>Viable </b> - capable of working successfully<br />Should we build it</li>

      </div>
  </div>

<br></br>

  <div class="row">
    <div class="col-md-2">
  </div>

    <div class="col-md-8">
    <div class ="video-responsive">
      <iframe width="992" height="558" src="https://www.youtube.com/embed/yfp00o41qWU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
  </div>

  <div class="col-md-2">
</div>
  </div>

<br></br>

  <div class="row">
      <div class="col-md-6">
      <!--<div class="Materials"></div>-->
      <h2>Materials:</h2>
      <ul>
        <li>8 x 6 sticky notes</li>
        <li>Sharpie Markers</li>
        <li>Wall Space or Brown Paper</li>
        <li>Preferred: Sticky Note Easel Pad (25x30 inches) </li>
    </div>
    <div class="col-md-6">
       <!--<div class="Set-up"></div>-->
      <h2>Set Up:</h2>
      <ol>
        <li>Put the Easel Pad sheet on the Wall Space or Brown Paper </li>
        <li>Write down a Hypotheses Statement Template on the Easel Pad</li>
        <ul>
        <li>We Believe __(WHO)____ </li>
        <li>Will __(WHAT)_______ </li>
        <li>Because __(Why)_______ </li>
        </ul>
        <li>Research <a href="https://www.stevebizblog.com/have-you-defined-your-leap-or-faith-assumptions/">Leap of Faith Assumptions</a> as it will be important when deciding which hypothesis is most important.</li>
        </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
     <!--<div class="Instructions"></div>-->
     <h2>Intructions:</h2>
     <ol>
       <li>Consider your Customers. Did you make an assumptions about your customers. Spend some time writing some hypotheses about your customers on the 6x8 Sticky Notes</li>
       <li>Consider your Cusotmer's unmet needs. Did you make an assumptions about your Cusomter's unmet needs. Spend some time writing some hypotheses about your customer's unment needs on the 6x8 Sticky Notes</li>
       <li>Consider your proposed concepts or soltions. Did you make an assumptions. Spend some time writing some hypotheses about your proposed concepts or solutions on the 6x8 Sticky Notes</li>
       <li>Now that you have all of your assumptions documented on 6x8 stick notes, select which hypothese (or set of hypotheses) are more important to you (or the group) to prove or disprove.
       Write the prioritized hypothesis on the large easel pad. More than one hyptheses may be selected. </li>
     </ol>
   <p><br /> NOTE: Use voting dots if there is difficulty gaining consensus on more important hypotheses.</p>
     </div>
 </div>
