
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJTRZQF');</script>
<!-- End Google Tag Manager -->

<% provide(:title, "Kanban") %>

<%= stylesheet_link_tag    'playPage', media: 'all', 'data-turbolinks-track': 'reload' %>
<h1> Kanban </h1>

  <div class="row">
    <div class="col-md-12">
    <h2>Overview:</h2>
     <p> Kanban is a scheduling system from lean manufacturing that creates a framework for managing work.  It allows real-time
       communication of capacity and provides full transparency of work.  Work items are represented visually on a kanban board,
       allowing team members to see the state of every piece of work at any time.
      </p>
      </div>
  </div>

  <br></br>

  <div class="row">
    <div class="col-md-2">
  </div>

    <div class="col-md-8">
    <div class ="video-responsive">
      <iframe width="992" height="558" src="https://www.youtube.com/embed/PFzbp5xGNlc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
  </div>

  <div class="col-md-2">
</div>
</div>

  <br></br>

  <div class="row">
    <div class="col-md-6">
       <!--<div class="Materials"></div>-->
       <h2>Materials:</h2>
       <ul>
         <li>Brown paper</li>
         <li>Masking tape</li>
         <li>Sticky notes</li>
         <ul>
           <li>3" x 5"</li>
           <li>3" x 3"</li>
         </ul>
         <li>Permanent markers</li>
         <li>Kanban Tape</li>
        </ul>
    </div>
    <div class="col-md-6">
       <!--<div class="Set-up"></div>-->
      <h2>Set Up:</h2>
      <ol>
        <li>Tape a large piece of brown paper to the wall and use 3" x 5" stickies to label the columns of the kanban.</li>
        <li>The simplest version is "Todo", "Doing", "Done"</li>
        <li>Each participant should have a pad of Stickies and a Permanent marker</li>
        </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
     <!--<div class="Instructions"></div>-->
     <h2>Intructions:</h2>
     <ol>
       <li>The partcipants write the tasks down on individual Stickies for the tasks they need to complete over the next 100 days.</li>
       <li>The tasks should be labeled with the owner and have a duration of less than 1 week.</li>
       <li>Each Sticky is then placed under the label that coresponds to its status with the highest priority tasks at the top.</li>
     </ol>
   </div>
 </div>

 <h2> Example:</h2>

<div class="row">
<div class="col-md-12">
<!--<div class="Pro tips"></div>-->
<%= image_tag("Plays/goodKanban.jpg", :class=>"img-fluid", :width=>"100%", :align=>"center") %>
</div>
</div>
