
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJTRZQF');</script>
<!-- End Google Tag Manager -->

<% provide(:title, "Product Roadmap") %>

<%= stylesheet_link_tag    'playPage', media: 'all', 'data-turbolinks-track': 'reload' %>
<h1> Product Roadmap </h1>

  <div class="row">
    <div class="col-md-12">
    <h2>Overview:</h2>
     <p> The Product Roadmap is used to identify and track what needs to be delivered to create value for the customer. It displays how the product will resolve the
problem or fulfill the customers' unmet needs and shows the value that is created for both customers and stakeholders.
     Prior to completing the Product Roadmap, we recommend completing the How Might We Play, Customer Empathy Map, Crazy 8's, Solution Art Gallery, Value Proposition Map, and Customer Journey. You should have already
   identified the goal of your product, the problem you are trying to solve, the potential solution, and the value created for the customer. </p>
      </div>
  </div>

  <br></br>

  <div class="row">
    <div class="col-md-2">
  </div>

    <div class="col-md-8">
    <div class ="video-responsive">
      <iframe width="992" height="558" src="https://www.youtube.com/embed/bYjwcBGuIiw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
  </div>

  <div class="col-md-2">
</div>
</div>

  <br></br>

  <div class="row">
    <div class="col-md-6">
       <!--<div class="Materials"></div>-->
       <h2>Materials:</h2>
       <ul>
         <li>3 x 5 Stickies</li>
         <li>2 x 2 Stickies</li>
         <li>Sharpie Markers</li>
         <li>Brown Paper or Wall Space</li>
         <ul>

    </div>
    <div class="col-md-6">
       <!--<div class="Set-up"></div>-->
      <h2>Set Up:</h2>
      <ol>
        <li> Create columns for the Personas relevant to your product, and rows for the How Might We, Unmet Need, and Solution Concepts using the 3 x 5 stickies as column and row labels.
  </li>
  <li> Unmet Needs can be pulled from the Customer Empathy Map and Concepts can be pulled from Crazy 8s or other solutioning plays.
</li>
        </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
     <!--<div class="Instructions"></div>-->
     <h2>Intructions:</h2>
     <ol>
       <li>Once the Product Roadmap is set up on the wall or brown paper, ensure that the work from the plays completed beforehand (How Might We, Empathy Map, and Solutioning Plays)
       are transferred into the Product Roadmap using the 2 x 2 stickies containing the pre-populated work. </li>
       <li>Check that the solutions that the team developed are represented in the row for the Solution Concepts.</li>
       <li>Run a sprint to test your assumptions and start to iterate on the solution concept. You can use the Hypotheses Template to write the hypotheses that you will test
       during experimentation until you have defined what you need in your Minimum Viable Product (MVP).</li>
     </ol>
   </div>
 </div>

 <h2> Example:</h2>

<div class="row">
<div class="col-md-12">
<!--<div class="Pro tips"></div>-->
<%= image_tag("Plays/goodProductRoadmap.jpg", :class=>"img-fluid", :width=>"100%", :align=>"center") %>
</div>
</div>
