
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJTRZQF');</script>
<!-- End Google Tag Manager -->

<% provide(:title, "Experiment Art Gallery") %>

<%= stylesheet_link_tag    'playPage', media: 'all', 'data-turbolinks-track': 'reload' %>
<h1> Experiment Art Gallery </h1>


  <div class="row">
    <div class="col-md-12">
    <h2>Overview:</h2>
     <p> The <i>Experiment Art Gallery</i> is used to define the experiments that will be used to test the assumptions for your concept/solution. By drawing out a 3-part storyboard consisting of the assumption, experiment, and outcome, you will visually represent the testing plan.</p>
      </div>
  </div>

<br></br>

  <div class="row">
    <div class="col-md-2">
  </div>

    <div class="col-md-8">
    <div class ="video-responsive">
    <iframe width="992" height="558" src="https://www.youtube.com/embed/3pdNWhBoVaM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  </div>

  <div class="col-md-2">
</div>
</div>


<br></br>


  <div class="row">
    <div class="col-md-6">
       <!--<div class="Materials"></div>-->
       <h2>Materials:</h2>
       <ul>
         <li>11x17 (tabloid) sheet of paper</li>
         <li>3x5 stickie notes</li>
         <li>Sharpie markers</li>
       </ul>
    </div>
    <div class="col-md-6">
       <!--<div class="Set-up"></div>-->
      <h2>Set Up:</h2>
      <ol>
        <li>Place 3 of the stickie notes on the tabloid paper in vertical/portrait format</li>
        <li>Label them in this order: Assumption, Experiment, Outcome</li>
        <li>Leave space for a title at the top</li>
        </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
     <!--<div class="Instructions"></div>-->
     <h2>Intructions:</h2>
     <ol>
       <li>On the first top stickie, draw out the assumption that you are planning to test. Use pictures and as few words as possible.</li>
       <li>On the second middle stickie, decide what you are going to do to test this assumption - this is your experiment. Once you decide what test you are going to run, draw that out on the middle stickie.</li>
       <li>On the last bottom stickie, draw out what outcome you are expecting for this experiment.</li>
       <li>Lastly, add a unique title to the top and give your experiment a name!</li>
     </ol>
   </div>
 </div>

 <h2> Example:</h2>

<div class="row">
<div class="col-md-12">
<!--<div class="Pro tips"></div>-->
<%= image_tag("Plays/goodExperimentArtGallary.jpg", :class=>"img-fluid", :width=>"100%", :align=>"center") %>
</div>

</div>
