
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJTRZQF');</script>
<!-- End Google Tag Manager -->
<% provide(:title, "Goal Statement") %>
<%= stylesheet_link_tag    'playPage', media: 'all', 'data-turbolinks-track': 'reload' %>
<h1> Goal Statement </h1>


  <div class="row">
    <div class="col-md-12">
    <h2>Overview:</h2>
     <p> Achieving alignment on the goal of the workshop is a critical first step. This should be completed prior to the workshop. However, you can use the first few minutes of a workshop to achieve a
       shared reality about the purpose. You should read the goal statement to the participants to ensure that there is alignment.
       By defining the goal at the very start,
       the team will understand the purpose and be able to make changes to the goal as needed. The goal should be (1) actionable, (2) should not be a solution, and (3) should identify a customer. </p>
      </div>
  </div>

    <br></br>

    <div class="row">
      <div class="col-md-2">
    </div>

    <div class="col-md-8">
    <div class ="video-responsive">
      <iframe width="992" height="558" src="https://www.youtube.com/embed/ugJL2h_d7KI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  </div>

  <div class="row">
    <div class="col-md-2">
  </div>
  </div>

<br></br>

  <div class="row">
    <div class="col-md-6">
       <!--<div class="Materials"></div>-->
       <h2>Materials:</h2>
       <ul>
         <li>Large sticky paper</li>
         <li>Sharpie pens</li>
         <ul>
    </div>
    <div class="col-md-6">
       <!--<div class="Set-up"></div>-->
      <h2>Set Up:</h2>
      <ol>
        <li>Write the goal of the workshop in large writing somewhere in the room that is visible to everyone </li>
        </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
     <!--<div class="Instructions"></div>-->
     <h2>Intructions:</h2>
     <ol>
       <li>Read the goal statement to the participants. </li>
       <li>If you need to reach consensus, break the participants into groups of 2-3 people.</li>
       <li>Ask each group to complete the Goal Template: Our [Product/Service] that helps [Customer] to do [Task] is currently [Current State] we need to [Future State Change] because [Catalyst Driving Change]. </li>
       <li>Ask each group to present their goal statement.</li>
       <li>Pass each person a sticky dot and ask them to vote on the goal they believe should be the focus of the workshop.</li>
       <li>Ask the team if they would like to make any further updates to the wording of the statement and check that everyone is comfortable with the goal before starting.</li>
     </ol>
   </div>
 </div>

     <h2> Example:</h2>

 <div class="row">
   <div class="col-md-6">
    <!--<div class="Pro tips"></div>-->
   <%= image_tag("Plays/goodGoal.jpg", :class=>"img-fluid", :width=>"100%", :align=>"center") %>
 </div>

<div class="col-md-6">
 <%= image_tag("Plays/goodGoal2.jpg", :class=>"img-fluid", :width=>"100%", :align=>"center") %>
 </div>
 </div>
