<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJTRZQF');</script>
<!-- End Google Tag Manager -->

<% provide(:title, "Experiments") %>

<style>
  h1{
    padding-top:20px;
    font-family: helvetica;
    font-weight: bold;
    color: #1164fc;

   }

  h4{
    color: #f95c16;
    text-align: center;
  }

  h5{
    text-align:left;
  }


table, td, {
  border: 1px solid #ddd;
  text-align: left;
}


table {
  border-collapse: collapse;
  width: 100%;
}

th.q{
  background-color: #f96c16;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-right: 4px solid #fff;
  border-bottom: 4px solid #fff;

}

th.main{
  background-color: #1164FC;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-right: 4px solid #fff;

}

td {
  padding: 10px;
  text-align:left;

  border-right: 1px solid #ddd;
}
</style>



<h1>Experiment Guide</h1>

  <div class="row">
    <div class="col-md-12">

<%= image_tag("HomePage/knotToCurve.png", :width=>"100%", :class=> "img-fluid", :alt=> "Knot to Curve") %>

</div>
</div>
<br></br>



<table style="width:100%">
  <tr>
    <th class="q">Does your strategy start with a problem?</th>
    <th class="q">Is value being created for the customer and the stakeholder?</th>
    <th class="q">Are you testing assumptions?</th>
    <th class="q">Does your solution provide value at scale?</th>
    </tr>
  <tr>
    <th class="main">Explore the Problem</th>
    <th class="main">Define the Value Proposition</th>
    <th class="main">Experiment with Customers</th>
    <th class="main">Scale to Value</th>
  </tr>

  <tr>
    <td>
      <a href = "/plays/goal">
      <h5>Goal</h5>
      </a>
    </td>
    <td>
      <a href = "/plays/crazy8">
          <h5> Crazy 8's </h5>
      </a>
    </td>
    <td>
      <a href = "/plays/hypothesisTemplate">
          <h5> Hypothesis Template </h5>
          </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href = "/plays/howMightWe">
          <h5> How Might We </h5>
    </a>
  </td>
  <td>
    <a href = "/plays/solutionArtGallery">
        <h5> Solution Art Gallery </h5>
        </a>
  </td>
    <td>
      <a href = "/plays/experimentArtGallery">
          <h5> Experiment Art Gallery </h5>
          </a>
      </td>
      </tr>
      <tr>
      <td>
        <a href = "/plays/empathyMap">
          <h5> Empathy Map </h5>
        </a>
      </td>
      <td>
        <a href = "/plays/kanban">
            <h5> Kanban </h5>
        </a>
        </td>
  </tr>
  <tr>
    <td>
      <a href = "/plays/contextualInquiry">
            <h5> Contextual Inquiry </h5>
            </a>
      </td>
    <td>
      <a href = "/plays/productRoadmap">
          <h5> Product Roadmap </h5>
          </a>
        </td>
        </tr>


</table>



<!--<table style="width:100%">
    <tr>
      <td>
        <a href = "/plays/goal">
        <h5>Goal</h5>
        </a>
      </td>
      <td>
        <a href = "/plays/crazy8">
            <h5> Crazy 8's </h5>
        </a>
      </td>
      <td>
        <a href = "/plays/hypothesisTemplate">
            <h5> Hypothesis Template </h5>
            </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href = "/plays/howMightWe">
            <h5> How Might We </h5>
      </a>
    </td>
    <td>
      <a href = "/plays/solutionArtGallery">
          <h5> Solution Art Gallery </h5>
          </a>
    </td>
      <td>
        <a href = "/plays/experimentArtGallery">
            <h5> Experiment Art Gallery </h5>
            </a>
        </td>
        </tr>
        <tr>
        <td>
          <a href = "/plays/empathyMap">
            <h5> Empathy Map </h5>
          </a>
        </td>
        <td>
          <a href = "/plays/kanban">
              <h5> Kanban </h5>
          </a>
          </td>
    </tr>
    <tr>
      <td>
        <a href = "/plays/contextualInquiry">
              <h5> Contextual Inquiry </h5>
              </a>
        </td>
      <td>
        <a href = "/plays/productRoadmap">
            <h5> Product Roadmap </h5>
            </a>
          </td>
    </tr>


  </table>-->
