

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJTRZQF');</script>
<!-- End Google Tag Manager -->

<% provide(:title, "Solution Art Gallery") %>

<%= stylesheet_link_tag    'playPage', media: 'all', 'data-turbolinks-track': 'reload' %>

<h1> Solution Art Gallery </h1>

<br></br>

  <div class="row">
    <div class="col-md-12">
    <h2>Overview:</h2>
     <p>The Solution Art Gallery play helps teams get specific on what they believe is the 'solution' within the value proposition. Teams typically use this play as a follow on to Crazy 8's, taking their best ideas and flushing them out with art gallery detail. An art gallery for a solution is more than just a sketch, its the articulation of what specific problem & for who it is being solved, with what solution, and what expected result/value. This three part approach is given a descriptive yet catchy title so that when its presented back to the team, sticky dot voting can be done by the team to identify what resonates with the team the most. There are many variations to this play - from what the three parts are to what type of voting is conducted.</p>
      </div>
  </div>

  <br></br>

<div class="row">
  <div class="col-md-2">
</div>

  <div class="col-md-8">
  <div class ="video-responsive">
    <iframe width="992" height="558" src="https://www.youtube.com/embed/kON_lk5cPak" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="col-md-2">
</div>
</div>

  <br></br>

  <div class="row">
    <div class="col-md-6">
       <!--<div class="Materials"></div>-->
       <h2>Materials:</h2>
       <ul>
         <li>11x17 paper OR easel pad</li>
         <li>Sticky notes</li>
         <ul>
           <li>3” x 5” if on 11x17 paper OR 6" x 8" if on easel</li>
           </ul>
         <li>Permanent marker</li>
         <li>Masking Tape</li>
         <li>Small colored dots ( ¼”)</li>
         <li>Timer</li>
       </ul>
    </div>
    <div class="col-md-6">
       <!--<div class="Set-up"></div>-->
      <h2>Set Up:</h2>
      <ol>
        <li>Form groups of 2-3 people and have them work together
        <li>Place three sticky notes on paper or easel in vertical arrangement</li>
        <li>Ensure space above the top most sticky note for gallery title
        <li>Make sure participants have Permanent markers to write & draw with</li>
        <li>Set 15 minutes on the timer for play, then an additional 10 min or more for readout & voting</li>
        <li>Have ready small colored dots for voting post timer</li>
        </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
     <!--<div class="Instructions"></div>-->
     <h2>Instructions:</h2>
     <ol>
       <li>Create an empty Solution Art Gallery on paper or easel to use as a visual example of what is being asked of each group</li>
       <li>Make sure there is a title on the top of the page and each panel (aka sticky note) is clearly represented of the ask (first sticky is the articulate of problem & who is having it, second is the detailed solution, third is the expected result/value)</li>
       <li>Float around the room to ensure each group is setup for success</li>
       <li>After 15 minutes pass, have each group tape up their Solution Art Gallery on a wall and timebox (2 mins) readouts</li>
       <li>Once everyone has presented or as each group completes their readout, have each participant vote on what resonated with them</li>
       <li>Instruct the participants to vote on the parts of the gallery that they believe is most interesting to test or if they want to vote on the entire gallery, instruct them to place a dot near the title</li>
       <li>Count the votes and write the number of votes next to each part of the gallery to take further to a concept mood board, customer journey or straight to hypothesis & experimentation</li>
     </ol>
   </div>
 </div>

<h2> Example:</h2>

 <div class="row">
   <div class="col-md-6">
    <!--<div class="Pro tips"></div>-->
   <%= image_tag("Plays/goodSAG1.png", :class=>"img-fluid", :width=>"100%", :align=>"center") %>
 </div>

<div class="col-md-6">
 <%= image_tag("Plays/goodSAG2.png", :class=>"img-fluid", :width=>"100%", :align=>"center") %>
 </div>
 </div>
